body {
    font-family: "Montserrat";
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat-Bold";
}


p {
    color: #8f8f8f;
}
.container-fluid {
    padding: 3% 15% ;

}

.big_haeding{
    font-family: "Montserrat-Black";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;

}
/* sections*/
.coloured-section{
    background-color: #ff4c68;
    color: #fff; 
}
.white-section{
    background-color: white;
}
/*----title image-----*/
#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}
#title .container-fluid{
    padding: 3% 15% 7%;
}

.title-image {
    transform: rotate(25deg);
     position: absolute;
    right: 30%;

}

/*-----navigation bar-----*/
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    padding: none none 25rem none;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/*-----Download button----*/
.download-button {
    margin: 5% 3% 5% 0;
}

/*---feature section*/
#features {
    
    position: relative;
    

}
.feature-title{
    font-size: 1.5rem;
}

.features-box {

   padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials section*/
#testimonials {

    background-color: #ef8172;
    color: #fff;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 5%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
/*pricing section*/
#pricing {
    padding: 100px;
    }
.section-haeding{
    font-size: 3rem;
    line-height: 1.5;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/* Call to Action section  */

/* Footer section */
#footer{
    line-height: 1.5;
  
}
.social_icon{
    margin: 20px 10px;
    padding: 1rem;
}
.last{
    font-size: 10px;
}
@media(max-width:1028px){
    
    #title{
        text-align: center;
    }
    .title-image{
        position:static;
        transform: rotate(0);
    }
        
}